* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro';
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
}

.menu {
    max-width: 1150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu span {
    color: #0187ea;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    font-size: 24px;
    color: #000;
    font-weight: 600;
}





.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-image: url('/assets/img-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo {
    max-width: 500px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: rgb(162, 236, 212);
    opacity: 90%;
    border-radius: 5px;
}

.texto-conteudo {
    opacity: none;
    color: #fff;
}
