* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    top: 0;
}

.menu {
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu span {
    color: #0187ea;
}

.logo {
    text-decoration: none;
}

h1 {
    font-weight: 400;
    color: #000;

}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 20px;
}

.links-menu {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}





.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/assets/img-fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: #619b88b4;

    border-radius: 5px;

    line-height: 70px;
    padding: 30px 15px;

    box-shadow: 0 0 1px 2px #3bd7b1;
}

.conteudo h2 {
    color: #fff;
    font-size: 44px;
}

.conteudo p {
    color: #fff;
    font-size: 30px;
}





.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}





.opcoes {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.8rem;
    padding: 20px 0;

}

.texto {
    max-width: 600px;
    text-align: center;
    line-height: 35px;
    padding: 20px 0;
}

.texto h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.tipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 2px solid green;
}

.tipos img {
    width: 100%;
}

.tipos a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 1rem;
}





.rota {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

iframe {
    width: 100%;
    height: 60vh;
    padding: 10px 0;
}




.galeria {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 20px 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;

}

.card h4 {
    margin-bottom: 20px;
}

.card div {
    padding: 10px 20px;
}

.card img {
    width: 100px;
    height: 100px;
}

.opcoes-sobre {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;

}





.rodape {
    background-color: #49997c;
}

.contato {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 20px 0;
}

.contato h4 {
    font-size: 20px;
    color: #fff;
}

.contato a {
    text-decoration: none;
    color: #fff;
    max-width: 23%;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-weight: 600;
}

.copyright a{
    text-decoration: none;
    color: #000;
}